# Production requirements. This is what readthedocs.com picks up

git+https://github.com/ray-project/tune-sklearn@master#tune-sklearn
watchfiles # Required because sphinx-click doesn't support mocking

# Syntax highlighting
Pygments

# Sphinx
sphinx
sphinx-click
sphinx-copybutton
sphinxemoji
sphinx-jsonschema
sphinx-version-warning
sphinx-book-theme
sphinx-external-toc
sphinx-sitemap
sphinxcontrib-redoc
sphinx-tabs
sphinx-remove-toctrees
autodoc_pydantic
sphinx_design

pydantic<2 # Pydantic is required by autodoc_pydantic, but must be <2 for ray

# MyST
myst-parser
myst-nb

# Jupyter conversion
jupytext

# Pin urllib to avoid downstream ssl incompatibility issues
urllib3 < 1.27

# External dependencies such as ML libraries should be mocked out, not added here.
# See doc/source/conf.py for examples of how to mock out external dependencies.
